div {
    text-align: center;
}

/*in order to get the unorganized list centered we need padding and margin to be set to 0*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* This spaces the index content apart*/ 
li {
    margin-bottom: 2px;
}

